@page "/manage/slot/{Name}"
@attribute [Authorize]

<h1>Slots of @Name</h1>
<MudIconButton Style="position: fixed; right: 0; bottom: 0;" Icon="@Icons.Material.Filled.ArrowBack" OnClick="GoBack" Color="Color.Primary" aria-label="back"></MudIconButton>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => AddSlot())" Color="Color.Success">Slot Hinzufügen</MudButton>
        </MudItem>
        @if (Slots == null)
        {
            // Not yet loaded
            <OAOPS.Client.Components.Shared.LoadingComponent />
        }
        else if(Slots.Count == 0)
        {
            // loaded but empty
            <MudItem xs="12">
                <MudText Color="Color.Primary">Keine Slots für diesen Storage gefunden...</MudText>
            </MudItem>
        }
        else
        {
            // loaded Slots
            <MudDataGrid T="StorageSlotDto" Items="Slots"
                     Bordered="true" Dense="true">
                 <Columns>
                    <Column HeaderClass="datagrid-header" CellClass="px-auto" T="StorageSlotDto" Field="SlotId" Title="Id"/>
                    <Column HeaderClass="datagrid-header" CellClass="px-auto" T="StorageSlotDto" Field="SlotName" Title="Slot Name"/>
                    <Column HeaderClass="datagrid-header" CellClass="px-auto" T="StorageSlotDto" Field="StorageName" Title="Name"/>
                    <Column HeaderClass="datagrid-header" CellClass="px-auto" T="StorageSlotDto" Field="StorageConnectionId" Title="Verbindungs Id Automat"/>
                    <Column HeaderClass="datagrid-header" CellClass="px-auto" T="StorageSlotDto" Field="ArticleName" Title="Artikel im Slot"/>
                    <Column HeaderClass="datagrid-header" T="StorageSlotDto" CellClass="d-flex justify-end" Title="Aktion" Sortable="false">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Color="Color.Primary" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => DeleteSlot(context.Item))" />
                            <MudIconButton Size="@Size.Small" Color=Color.Primary Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => UpdateSlot(context.Item))" />
                        </CellTemplate>
                    </Column>
                 </Columns>
            </MudDataGrid>
        }
    </MudGrid>
</MudContainer>