<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.ShoppingCartCheckout" />
            Warenkorb
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudSimpleTable Style="overflow-x: auto;">
            <tbody>
                @foreach (var item in Cart)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PriceAmount</td>
                        <td><MudIconButton Icon="@Icons.Filled.Add" Color="Color.Primary" OnClick="(() => AddArticle(item))" /></td>
                        <td>@item.Amount</td>
                        <td><MudIconButton Icon="@Icons.Filled.Remove" Color="Color.Primary" OnClick="(() => RemoveArticle(item))" /></td>
                    </tr>
                }
                <tr>
                    <td>Gesamtpreis:</td>
                    <td>@TotalSum</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Abbrechen</MudButton>
        <MudButton Color="Color.Primary" OnClick="Pay">Bezahlen</MudButton>
    </DialogActions>
</MudDialog>